# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/

# Python
.venv/

# Logs
*.log

# Build
dist/
build/

# Publication output files
publication/**/output/
publication/**/google_books_upload/
*.epub
*.pdf

# Env
.env
.env.local
.vercel
